<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="center">
        <ul>
          <div class="left">
            <li><a href="#">Logo</a></li>
          </div>
      
          <div class="center">
            <li>
              <form action="">
                <input type="text" name="search" placeholder="Search by item name">
                <select type="submit" class="select">
                  <option>All categories</option>
                </select>
              </form>
            </li>
          </div>
      
         <div class="right">
          <li><a href="#"><img src="../static/img/like.svg"/></a></li>
          <li><a href="#"><img src="../static/img/shop.svg"/></a></li>
          <li><a href="./userLogin.html">Login</a></li>
          <li>|</li>
          <li><a href="./Register.html">Sign-Up</a></li>
         </div>
        </ul>
      </nav>
      
      <main>
          <div class="addni-div">
              <div class="addni-title">
                  <h1>Checkout</h1>
              </div>
              <div class="checkout-container">
                  <div class="checkout-item">
                    <div class="images">
                        <img/>
                    </div>
                    <div class="checkout-info">
                        <h3>Coupon Name</h3>
                        <p ma>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quidem vel facere neque iste? Natus provident dicta...</p>
                    </div>
                  </div>
                  <div class="checkout-price">
                    <br><br>
                    <h3><strong>$120</strong></p>
                  </div>
                  <div class="checkout-item">
                    <div class="images">
                        <img/>
                    </div>
                    <div class="checkout-info">
                        <h3>Coupon Name</h3>
                        <p ma>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quidem vel facere neque iste? Natus provident dicta...</p>
                    </div>
                  </div>
                  <div class="checkout-price">
                    <br><br>
                    <h3><strong>$120</strong></p>
                  </div>
                  <div class="checkout-item">
                    <div class="images">
                        <img/>
                    </div>
                    <div class="checkout-info">
                        <h3>Coupon Name</h3>
                        <p ma>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quidem vel facere neque iste? Natus provident dicta...</p>
                    </div>
                  </div>
                  <div class="checkout-price">
                    <br><br>
                    <h3><strong>$120</strong></p>
                  </div>
              </div>
              <div class="checkout-total">
                <hr> 
                <h3>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    $360</h3>
             </div>
             <div class="checkout-buttons">
                <button class="white-button" type="">Back</button>
                <button class="submit-button" type="submit">Checkout</button>
             </div>
          </div>
      </main>
      <footer>
      </footer>
</body>
</html>