<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item details</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="center">
  <ul>
    <div class="left">
      <li><a href="#">Logo</a></li>
    </div>

    <div class="center">
      <li>
        <form action="">
          <input type="text" name="search" placeholder="Search by item name">
          <select type="submit" class="select">
            <option>All categories</option>
          </select>
        </form>
      </li>
    </div>

   <div class="right">
    <li><a href="#"><img src="../static/img/like.svg"/></a></li>
    <li><a href="#"><img src="../static/img/shop.svg"/></a></li>
    <li><a href="./userLogin.html">Login</a></li>
    <li>|</li>
    <li><a href="./Register.html">Sign-Up</a></li>
   </div>
  </ul>
</nav>

<main>
   <div class="item-details-div">
    <div class="right">
        <div class="details-image">

        </div>
        <div class="details-description">
        <h3>Item Detailed Description</h3>          
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Atque corporis soluta tenetur voluptate delectus at. 
            Similique minima quis labore fuga, possimus quos veniam quisquam a totam 
            eveniet. Quae, repudiandae consectetur.
        </p>  
        </div>
    </div>
    <div class="left">
        <div class="details-coupon-box">
            <h1>Coupon Name</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Atque corporis soluta tenetur voluptate delectus at. 
                Similique minima quis labore fuga, possimus quos veniam quisquam a totam 
                eveniet. Quae, repudiandae consectetur.
            </p>
            <div class="details-time-expired">
                <p>Time Left To Buy</p>
                <h3>12 days 14 hours</h3>
            </div>
            <div class="details-price">
                <h3>$235</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="korzina">
                    <h4><a href="#">Add to Cart</a></h4>
                    <img src="../static/img/shop.svg"/>
                </div>
            </div>
        </div>
    </div>
   </div>
</main>
<footer>
</footer>
</body>
</html>