<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="center">
  <ul>
    <div class="left">
      <li><a href="#">Logo</a></li>
    </div>

    <div class="center">
      <li>
        <form action="">
          <input type="text" name="search" placeholder="Search by item name">
          <select type="submit" class="select">
            <option>All categories</option>
          </select>
        </form>
      </li>
    </div>

   <div class="right">
    <li><a href="#"><img src="../static/img/like.svg"/></a></li>
    <li><a href="#"><img src="../static/img/shop.svg"/></a></li>
    <li><a href="./userLogin.html">Login</a></li>
    <li>|</li>
    <li><a href="./Register.html">Sign-Up</a></li>
   </div>
  </ul>
</nav>

<main>
    <div class="register-div">
        <div class="register-title">
            <h1>Register</h1>
        </div>
        <div class="register-form">
            <form action="" class="form-container">
                <div class="left">
                    <label for="login">Login Name</label>
                    <input class="input" type="text" id="login" name="login"><br>
                    <label for="password">Password</label>
                    <input class="input" type="password" id="password" name="password"><br>
                    <label for="email">Email</label>
                    <input class="input" type="email" id="email" name="email"><br>
                </div>
                <div class="right">
                    <label for="first-name">First Name</label>
                    <input class="input" type="text" id="first-name" name="first-name"><br>
                    <label for="lorepeat-passwordgin">Repeat Password</label>
                    <input class="input" type="password" id="repeat-password" name="repeat-password"><br>
                    <label for="address">Address</label>
                    <input class="input" type="text" id="address" name="address"><br>
                    <button class="white-button" type="">Cancel</button>
                    <button class="submit-button" type="submit">Sign Up</button>
                </div>
  
            </form>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>